@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #3f3d56;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background: white;
}

.react-datepicker-wrapper {
  width: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.footer-layout {
  display: flex;
  flex-direction: column;
}

.navbar-logo {
  padding: 20px;
  color: #3f3d56;
  font-weight: 400;
  display: flex;
  align-items: center;
  font-size: 48px;
}

.dropDownProfile {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 120px;
  padding: 20px;
  border-radius: 1px;
  background-color: white;
  border: 1px solid gray;
}

.container {
  display: grid;
  max-width: 1000px;
  margin: 0 auto;
  align-items: center;
}
